<footer class="footer-area fixed-footer grey-bg footer-style-two" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <div class="footer-logo">
                        <h3><a href="index.html">Hack & Söhne</a></h3>
                    </div>
                    <div class="footer-fun-text">
                        <p>Get involved.</p>
                    </div>
                    <div class="social-bookmark-2-wrapper">
                        <ul class="social-bookmark-2">
                            <li><a href="https://www.facebook.com/hackundsoehne/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/hackundsoehne" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://github.com/hackundsoehne" target="_blank"><i class = "fa fa-github"></i></a></li>
                            <li><a href="https://slack.hackundsoehne.de/" target="_blank"><i class="fa fa-slack"></i></a></li>
                            <li><a href="https://www.instagram.com/hackundsoehne/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/company-beta/11070411/2" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="footer-menu">
                        <ul class="footer-menu text-center">
                            <li><a class="page-scroll" href="index.html">Home</a></li>
                            <li><a class="page-scroll" href="index.html#about-id">About</a></li>
                            <li><a href="http://talkit.eu/" target="_blank">TalKIT</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="terms.html">Imprint</a></li>
                            <li><a href="dataprivacy.html" tkey="dataprivacy"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>